.info
    margin-bottom: 150px

.info__inner
    display: flex

.info__img
    margin-right: 60px
    flex-basis: 570px
    object-fit: cover

.info__list
    flex-basis: 490px

.info__item
    &:not(:first-child)
        margin-top: 50px
        
.info__item-title
    margin: 0 0 10px

.info__item-text
    max-width: 450px

+max(1110px)
    .info
        margin-bottom: 50px

    .info__img
        display: none

    .info__list
        flex-basis: 100%
    
    .info__item-text
        max-width: 100%

+max(640px)
    .info__item
        &:not(:first-child)
            margin-top: 25px
    
    